# macOS
.DS_Store

# IntelliJ / Android Studio
.idea/
*.iml

# Gradle
.gradle/
**/build/

# Android
local.properties
captures/
.externalNativeBuild/
.cxx/

*.jks
*.keystore

# Kotlin compiler / IDE cache
.kotlin/
**/.kotlin/